body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    background-color: #F7F7F7;
}

#nav_container {
    width: 100%;
    height: 106px;
    background-color: #FFFFFF;
}

#nav_bar {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-left: 246px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo-text {
    line-height: 1.1;
}


.logo-text span {
    display: block; 
}

.logo-top {
    color: #82A70C;
    font-size: 22px;
}

.logo-bottom {
    color: #42515F;
    font-size: 22px;
}
/* Placeholder Icon Styling */
.logo-icon {
    width: 50px;
    height: 40px;
    background-color: #82A70C; 
    border-radius: 4px;
}
.below-nav{
    display: flex;
    align-items:flex-start;
}
#text-emp-d{
    padding-top: 40px;
    padding-left: 188px;
}
